
body {
    background-color: lightgray;
    height: 100%;
}

button {
    text-transform: uppercase;
}

.countainer {
    margin: auto;
    width: 90%;
}

#nav {
    display: flex;
}

#nav>div {
    flex: 1;
}


#gallery {
    height: 100px;
    background-color: whitesmoke;
}

#banniere {
    text-align: center;
    color: white;
    background-color: black;
}

.centre {
    padding: 0 2em;
    display: flex;
    justify-content: space-evenly;
}

.centre>article {
    flex: 1;
    width: 32%;
    padding: 0.5em;
}

.definition i{
    margin: 0.5rem;
}

dl{
    text-align: left;
}

dd {
    margin-left: 1.33rem;
    margin-bottom: 1rem;
}

.centre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#buy {
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(./img/etoile.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    color: white;
}

#buy>div {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 0 2em;
}    

form {
    display: flex;
    justify-content: space-between;
}

form>.formulaire {
    flex: 1;
}

/* .formulaire>input {
    width: 20rem;
} */

form label, form input, form textarea {
    display: inline-block;
    width: 100%;
    height: 2em;
    line-height: 1.5em;
    vertical-align: bottom;
}

form label {
    margin-top: 1em;
    height: 1em;
    line-height: 1em;
}

form input, form textarea {
    height: 6em;
}

button[type='submit']{
    margin-top: 1em;
}

#pages {
    display: flex;
}

#pages>div {
    flex: 1;
}
