
:root{
    --color-pink: fuchsia;
}

.back{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    height: 100%;
}

.back1 {
    background: rgb(251,249,63);
    background: radial-gradient(circle, rgba(251,249,63,1) 0%, rgba(70,242,252,1) 100%);
    height: 100%;
}

.back2{
    background: rgb(235,175,45);
    background: radial-gradient(circle, rgba(235,175,45,1) 0%, rgba(25,157,17,1) 100%);
    height: 100%;
}

.back3 {
    background: rgb(208,208,208);
    background: radial-gradient(circle, rgba(208,208,208,1) 10%, rgba(0,0,0,1) 100%);
    height: 100%;
}


#color {
    background-color: black;
    border: none;
    position: sticky;
    top: 3em;
    display: flex;
    justify-content: space-evenly;
}

#color>i {
    color: whitesmoke;
}

.color-div {
    display: none;
}

.color-div_active {
    display: block; 
    background-color: black;  
}


#about, #testimonials, #contact, .gallery-nav {
    background-color: white;
}

#pages {
    color: white;
    background-color: black;
}

hr {
    width: 50px;
    height: 0;
    border-color: black;
    margin-top: 0.3em;
    border-color: var(--color-pink);
    background-color: var(--color-pink);
}

h2, h4 {
    text-transform: uppercase;
}

h4 {
    text-align: left;
    margin-bottom: 0;
}

.h4 {
    margin: 0.5em 0 0 0;
}

button {
    text-transform: uppercase;
    margin: 1em 0;
}

.couleur{
    color: var(--color-pink);
}

.btn-border {
    border-color: var(--color-pink);
    background-color: transparent;
}

.btn-color {
    background-color: var(--color-pink);
    color: white;
}

.btn-text {
    color: var(--color-pink);
}

.btn-border-white {
    border-color:white;
    background-color: transparent;
}

.btn-text-white {
    color: white;
}

.countainer {
    margin: auto;
    width: 90%;
}

a {
    padding: 0 0 0 1em;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}

#nav {
    display: flex;
}

#nav>div {
    flex: 1;
}

.nav-logo>img {
    height: 90px;
}

.nav-link {
    text-align: center;
    padding: 1em;
    margin: auto;
}

#about-accordion i {
    padding-right: 1em;
}

#about-accordion p {
    padding-left: 2.5em;
}

#about-accordion .accordion-text {
    display: none;
}

#about-accordion .active .accordion-text {
    display: block;
}

a.toggle {
    width: 100%;
    display: block;
    color: black;
    padding: 0;
    border-radius: 0.15em;
    border-color: lightgrey;
    cursor: pointer;
    text-decoration: none;
}

.gallery-media{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.gallery-media>div{
    flex: 1;
    display: flex;
}

.gallery-media>div *{
    flex: 1;
    width: 25%;
}

.gallery-nav{
    border-bottom: lightgray 1px solid;
}

.gallery-nav>div {
    width: 45%;
}

.gallery-nav-list {
    text-align: left;
    padding: 1em;
}

.gallery-nav-btn {
    text-align: right;
}

#banniere {
    height: 30em;
    background: url(./img/image2.jpg) center;
    background-size: cover;
}

.banniere-text {
    text-align: center;
    padding-top: 20em;
    /* color: #8729B9; */
}

.centre {
    padding: 0 2em;
    display: flex;
}

.centre>article {
    flex: 1;
    width: 32%;
    padding: 0.5em;
}

.definition i{
    margin: 0.5rem;
}

dl{
    text-align: left;
}

dd {
    margin-left: 1.33rem;
    margin-bottom: 1rem;
}

.centre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#testimonials {
    flex-wrap: wrap;
}

#testimonials>h2 {
    text-align: center;
    flex:1;
}

.avis {
    width: 100%;
}

.avis>.avis1, .avis>.avis2, .avis>.avis3{
    width: 100%;
    height: 6em;
    padding: 1em 0;
    display: flex;
    justify-content: space-evenly;
}

.avis img {
    padding: 0 1em 0 0;
}

.avis>div{
    border-bottom: lightgray 1px solid;
}

.avis>.avis3{
    border: none;
}

blockquote {
    width: 95%;
    margin: 0;
}

blockquote p{
    font-style: italic;
}

blockquote:nth-child(odd) {
    text-align: right;
}

.avis img:nth-child(even) {
    padding: 0 0 0 1em;
}

.become {
    text-align: center;
    padding: 0.5em 1em;
}

#buy {
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(./img/etoile.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    color: white;
}

#buy>div {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 0 2em;
}    

#contact>h2 {
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

form .centre>div{
    width: 50%;
}

form label, form input, form textarea,.newsletter input {
    display: inline-block;
    width: 90%;
    height: 2em;
    line-height: 1.5em;
    vertical-align: bottom;
}

form label {
    margin-top: 1em;
    height: 1em;
    line-height: 1em;
}

form textarea {
    height: 6.9em;
}

button[type='submit']{
    margin-top: 1em;
}

#pages>div {
    flex: 1;
    padding: 0.5em 1em;
}

.newsletter {
    display: flex;
    flex-wrap: wrap;
}

.carre {
    padding: 1em;
}

